package main

import "fmt"
import "time"
import "github.com/Meowcenary/information_agent/scraper"

css body() {
	background-color: linen;
	color: black;
	font-family: system-ui;
}

css standardA() {
	color: #000;
	text-decoration: none;
}

css standardLi() {
	margin-bottom: 10px;
}

css standardUl() {
	list-style-type: none;
	padding: 0;
}

templ headerTemplate() {
  <head>
    <meta charset="UTF-8" />
    /* <meta name="viewport" content="width=device-width" /> */
    <title>Information Agent</title>
  </head>
}

templ footerTemplate() {
	<footer>
		<div>Information Agent Prototype &copy; { fmt.Sprintf("%d", time.Now().Year()) }</div>
	</footer>
}

templ home(pages []scraper.WikiPage) {
	<html>
		@headerTemplate()
		<body class={ body() }>
			<h1>Applied Statistics Method Reference</h1>
			<hr></hr>
			<div>
				<h2>Topic Selection</h2>
				<p>To view more information on a specific topic click on one of the links below</p>
				@pageList(pages)
			</div>
			<hr></hr>
			@footerTemplate()
		</body>
	</html>
}

templ pageList(pages []scraper.WikiPage) {
	<ul class={ standardUl() }>
	for _, page := range pages[1:] {
		<li class={ standardLi() }><a class={ standardA() } href={ templ.URL("wiki_page_json/" + page.Title) }>-> { page.Title }</a></li>
	}
	</ul>
}

templ page(content templ.Component) {
	<html>
		@headerTemplate()
		<body class={ body() }>
			<a class={ standardA() } href="/"><font size="5">Home</font></a>
			{! content }
			<hr></hr>
			@footerTemplate()
		</body>
	</html>
}
