package main

import "fmt"
import "time"
import "github.com/Meowcenary/information_agent/scraper"

/* templ layout(name string) { */
/* 	<html> */
/* 		<head><title>{ name }</title></head> */
/* 		<body> */
/* 			@headerTemplate(name) */
/* 			@navTemplate() */
/* 			<main> */
/* 				{ children... } */
/* 			</main> */
/* 		</body> */
/* 		@footerTemplate() */
/* 	</html> */
/* } */
/*  */

templ headerTemplate() {
  <head>
    <meta charset="UTF-8" />
    /* <meta name="viewport" content="width=device-width" /> */
    <title>Information Agent</title>
  </head>
}

templ footerTemplate() {
	<footer>
		<div>Information Agent Prototype &copy; { fmt.Sprintf("%d", time.Now().Year()) }</div>
	</footer>
}

css body() {
	background-color: linen;
	color: black;
}

templ navTemplate() {
	<nav id="navTemplate">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/page">Topics</a></li>
		</ul>
	</nav>
}

templ home(pages []scraper.WikiPage) {
	<html>
		@headerTemplate()
		<body class={ body() }>
			<div>
				<h1>Topic Selection</h1>
				<p>To view more information on a specific page, click on one of the links below</p>
				@pageList(pages)
			</div>
			<hr></hr>
			@footerTemplate()
		</body>
	</html>
}

templ pageList(pages []scraper.WikiPage) {
	<ul>
	for _, page := range pages {
		<li><a href={ templ.URL("wiki_page_json/" + page.Title) }>{ page.Title }</a></li>
	}
	</ul>
}

templ page(content templ.Component) {
	<html>
		<body>
			{! content }
		</body>
	</html>
}
